---
import Layout from "../layouts/Layout.astro";
import StoryContainer from "../components/StoryContainer.astro";

// Import all slides
import IntroSlide from "../components/IntroSlide.astro";
import TotalsSlide from "../components/TotalsSlide.astro";
import RankingSlide from "../components/RankingSlide.astro";
import MostFrequentMessageSlide from "../components/MostFrequentMessageSlide.astro";
import TopWordsSlide from "../components/TopWordsSlide.astro";
import EmojiSlide from "../components/EmojiSlide.astro";
import MonthlyChartSlide from "../components/MonthlyChartSlide.astro";
import PeakDaySlide from "../components/PeakDaySlide.astro";
import SilenceStreakSlide from "../components/SilenceStreakSlide.astro";
import ActivityStreakSlide from "../components/ActivityStreakSlide.astro";
import OutroSlide from "../components/OutroSlide.astro";
---

<Layout title="WhatsApp Wrapped 2025">
	<main>
		<StoryContainer>
			<IntroSlide />
			<TotalsSlide />
			<RankingSlide />
			<MostFrequentMessageSlide />
			<TopWordsSlide />
			<EmojiSlide />
			<MonthlyChartSlide />
			<PeakDaySlide />
			<SilenceStreakSlide />
			<ActivityStreakSlide />
			<OutroSlide />
		</StoryContainer>
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
</style>
