---
import Layout from "../layouts/Layout.astro";
import StoryContainer from "../components/StoryContainer.astro";
import IntroSlide from "../components/IntroSlide.astro";
import ActivitySlide from "../components/ActivitySlide.astro";
import TimeSlide from "../components/TimeSlide.astro";
import SocialSlide from "../components/SocialSlide.astro";
---

<Layout title="WhatsApp Wrapped 2025">
	<main>
		<StoryContainer>
			<IntroSlide />
			<ActivitySlide />
			<TimeSlide />
			<SocialSlide />
			<!-- Final generic "Thanks" slide can be added here -->
			<section class="slide">
				<div class="content-wrapper" style="text-align: center;">
					<h1>¡Gracias por este año!</h1>
					<p style="color: var(--text-secondary);">
						Nos vemos en 2026
					</p>
				</div>
			</section>
		</StoryContainer>
	</main>
</Layout>

<style>
	main {
		width: 100vw;
		height: 100vh;
		overflow: hidden;
	}
</style>
